.test{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body{
  display: flex;
  flex-direction: column;
  height: 135vh;
  background-image: url("./viking.jpg");
  background-size: cover;
}

.bt {
  display: flex;
  justify-content: center;
  height: 80px;
  margin: 20px 0px;
}

button{
  background-color: transparent;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 5px 5px 10px rgb(49, 49, 49);
  transition: 0.8s;
  background : rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(7.8px);
  color: white;
}

button:hover{
  box-shadow: 3px 3px 10px rgb(49, 49, 49);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.332),-5px 0px 20px  rgba(0, 0, 0, 0.332);
  height: 80%;
  width: 30%;
  transition: 0.8s;
  background : rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(7.8px);
  color: white;
}

.card:hover{
  scale: 1.05;
  box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.432),-5px 0px 30px  rgba(0, 0, 0, 0.432);
}

.cardBody{
  padding: 0px 50px 25px 50px;
  
}

span {
  font-weight: 400;
}


img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.timer-container{
  color: white;
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 20px auto 40px auto ;
}
